html{
  box-sizing: border-box;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img{
  width: 100%;
}
ol{
  list-style-type: none;
  padding-left: 0;
}
nav li{
  display: inline;
}
h1, h2{
  text-align: center;
}
