@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html{
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after{
  box-sizing: inherit;
}

body{
  margin: 0;
}

img{
  width: 100%;
}
.logo{
  width: 40px;
  float: left;
  margin: 0 0 0 0.5em;
}
.buy a{
  float:right;
  margin: 0;
  position: absolute;
  background-color: #000;
  padding: 0.5em 1em 0.5em 1em;
  color: #B808ff;
  text-decoration: none;
}
ol{
  list-style-type: none;
  padding-left: 0;
}
.banner{
  position: relative;
  text-align: center;
  font-size: .70rem;
  max-height: 75vh;
  overflow: hidden;
  clear: both;
}
.banner img{
  width: 100%;
}
.bannercontent{
  position: absolute;
  bottom: 2em;
  color: #fff;
  width: 100%;
  bottom: 35%;
}
.bannercontent p {
  margin: 0;
  font-size: 1.5em;
}
.bannercontent .banbutton a{
  background-color: #000;
  padding: 0.5em 0.7em;
  display: inline-block;
  color: #fff;
  text-decoration:none;
}
.banhead{
  color: #fff;
  background-color: #000;
  padding: 5px;
}

li{
  margin: 0.5em;
}

.nav li {
  display: inline-block;
  width: 25%;
  float: left;
  margin: 0;
}

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.nav a {
  color: #fff;
  display: inline-block;
  padding: 0.3em 0.3em;
  background-color: #212121;
  text-decoration: none;
  margin:0;
}

nav li a{
  width: 100%;
}

.nav a:hover {
  background-color: #000;
}
h1{
  text-align: center;
  margin: 0.5em;
  right: 10px;
  font-size: 1.5rem;
}
h2{
  text-align: center;
  margin: 0.5em;
}
h3{
  margin: 0.5em;
}
.facts dd{
  float: left;
  width: 33%auto;
  padding-top: 1.5rem;
}
.facts{
  overflow: hidden;
  position: relative;
}
.facts dt{
  position: absolute;
  width: 33%auto;
  top: 0;
}
.facts dt:nth-child(3){
  left: 33%
}
.facts dt:nth-child(5){
  left: 66%
}
.grey{
  background-color: #e3e3e3;
  margin: 0;
}
a{
color: #B808ff;
text-decoration: none;
margin: 0.5em;
}
.member{
  margin-bottom: 1.5em;
}
p{
  margin: 0.5em;
}
strong{
  margin: 0.5em;
}

footer{
  padding-top: 2em;
  padding-bottom: 1em;
  background-color: #000;
  color: #fff;
}
address{
  margin: 0.5em;
}
.hours a{
  text-decoration: none;
  margin: 0.5em;
  color: #B808ff;
}
.footernav a{
  display: inline-block;
  text-decoration: none;
  margin: 0 0 0 0.5em;
  color: #B808ff;
}

@media only screen and (min-width: 35em) {
 img{
   width: 20%;
   margin: 0.5em;
   positon: absolute
 }
 h3{
   text-align: left;
 }
.facts dd{
  float: left;
  padding: 16px;
}
.facts{
  overflow: hidden;
  position: relative;
  float: right;
}
.facts dt{
  position: absolute;
  width: 33%;
}
.facts dt:nth-child(3){
  left: 33%
}
.facts dt:nth-child(5){
  left: 66%
}
a{
  text-align: center;
  position: relative;
}






  }
