@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html{
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after{
  box-sizing: inherit;
}

body{
  margin: 0;
}

img{
  width: 100%;
}
.logo{
  width: 40px;
  float: left;
  margin: 0 0 0 0.5em;
}
.buy a{
  float:right;
  margin: 0;
  position: absolute;
  background-color: #000;
  padding: 0.5em 1em 0.5em 1em;
  color: #B808ff;
  text-decoration: none;
}
ul{
  list-style-type: none;
  padding-left: 0;
}
.banner{
  position: relative;
  text-align: center;
  font-size: .70rem;
  max-height: 75vh;
  overflow: hidden;
  clear: both;
}
.banner img{
  width: 100%;
}
.bannercontent{
  position: absolute;
  bottom: 2em;
  color: #fff;
  width: 100%;
  bottom: 35%;
}
.bannercontent p {
  margin: 0;
  font-size: 1.5em;
}
.bannercontent .banbutton a{
  background-color: #000;
  padding: 0.5em 0.7em;
  display: inline-block;
  color: #fff;
  text-decoration:none;
}
.banhead{
  color: #fff;
  background-color: #000;
  padding: 5px;
}

li{
  margin: 0.5em;
}

.nav li {
  display: inline-block;
  width: 25%;
  float: left;
  margin: 0;
}

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.nav a {
  color: #fff;
  display: block;
  padding: 0.3em 0.3em;
  background-color: #212121;
  text-decoration: none;
  margin:0;
}

nav li a{
  width: 100%;
}

.nav a:hover {
  background-color: #000;
}
h1{
  text-align: center;
  margin: 0.5em;
  right: 10px;
  font-size: 1.5rem;
}
h2{
  text-align: center;
  margin: 0.5em;
}
h3{
  margin: 0.5em;
}

dl{
  margin-left: 10%;
}
dt{
  margin: 0;
  font-weight: bold;
}
dd{
  margin: 0;
  color: #939393;
}
.grey{
  background-color: #e3e3e3;
  margin: 0;
}
a{
color: #B808ff;
text-decoration: none;
margin: 0.5em;
}
.member{
  margin-bottom: 1.5em;
}
p{
  margin: 0.5em;
}
strong{
  margin: 0.5em;
}

footer{
  padding-top: 2em;
  padding-bottom: 1em;
  background-color: #000;
  color: #fff;
}
address{
  margin: 0.5em;
}
.hours a{
  text-decoration: none;
  margin: 0.5em;
  color: #B808ff;
}
.footernav a{
  display: inline-block;
  text-decoration: none;
  margin: 0 0 0 0.5em;
  color: #B808ff;
}

@media only screen and (min-width: 35em) {
  .nav a{
    margin: 0;
    padding: 9px;
    list-style-type: none;
    display: block;
  }

 h3{
   padding-top: 30px;
   margin: 0.5em;
   text-align: left;
 }

a{
  text-align: center;
  position: relative;
}
img{
  width: 30%;
  float: left;
  padding-right: 10px
}
dt dd{
  float: left;

}
.grey{
  text-align: center;
}
  }

@media only screen and (min-width: 57em)  {

  p{
    text-align: center;
    margin: 1em;
  }
  h3{
    text-align: center;
  }
  .footernav{
    text-align: center;
  }
  .hours{
    text-align: center;
  }
  address{
    text-align: center;
  }

  header{
    float: left;
    width: 30%
  }
  body{
    float: right;
    width: 70%;
  }
  .logo{
    margin: 0 auto;
    display: block;
  }
  .title{
    display: block;
  }

  .nav{
  text-align: left;
 }
.nav li{
  display: block;
}
